.container {
    background-color:  rgba(128, 128, 128, 0.425);
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 24vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
    
}

span {
    color: #FFE403;
}

@media (max-width: 420px) {
    .container {
        width: 90vw;
        text-align: center;
    }
}



