.container {
    background-color:  rgba(128, 128, 128, 0.425);
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    margin-top: 25vh;
    border-radius: 10px;
    color: white
}

@media (max-width: 420px) {
    .container {
        width: 90vw;
        text-align: center;
    }
}



