.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 1)
}

.logo {
    text-decoration: none;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15pt;
    margin-bottom: 15pt;
}


.navItems {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    margin-top: 5pt
}

@media (max-width: 320px) {
    .logo {
        font-size: 12pt
    }
    .navItems{
        font-size: 12pt
    }
}