body {
  margin: 0;
  background-image: url(./camping.jpeg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #040402;
  font-family: 'Lato', sans-serif;

}

@media (max-width: 420px) {
  body {
    /* background-repeat: repeat; */
    background-size: inherit;
  }
}