body {
  margin: 0;
  background-image: url(https://coresites-cdn.factorymedia.com/mpora_new/wp-content/uploads/2015/11/advenureguy.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

