.mainProjectsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 23vh;
    
}


.projects {
    height: 150px;
    border: white 2px solid;
    border-radius: 10px;
}

.lastProject {
    height: 150px;
    width: 250px;
    border: whitesmoke 2px solid;
    border-radius: 10px;
}


.projectTitle{
    text-align: center;
    color: white;
    
}

a {
    text-decoration: none;
}

.madeWith {
    text-align: center;
    color: white;
    
}


.firstBtn{
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    background-color: black;
    width: 140px;
    padding: 2px;
    margin: auto;
    text-align: center
}


.liveBtn {
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    background-color: black;
    width: 100px;
    padding: 2px;
    margin: auto;
    text-align: center;
}
.lastLiveBtn {
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    background-color: black;
    width: 140px;
    margin: auto;
    padding: 2px;
    text-align: center;
    margin-bottom: 55pt;
}


@media (max-width: 420px) {
    .mainProjectsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60pt
    }
    .projects{
        height: 125px;
        /* margin-bottom: 65pt */
    }

    .liveBtn {
        margin-bottom: 30px;
        background-color: rgba(0, 0, 0, 0.63);
        border: white 1px solid;
    }
    .lastLiveBtn{
        background-color: rgba(0, 0, 0, 0.63);
        border: white 1px solid;
    }
}

